@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+Tamil:wght@400;800&family=Noto+Sans:wght@400;800&display=swap');

// Light mode
:root {
  --textColor: #333;
  --bgColor: #eee;
  --linkColor: cornflowerblue;
}

[data-theme='dark'] {
  --textColor: #eee;
  --bgColor: #333;
  --linkColor: lightblue;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  min-height: 100vh;
}

a {
  color: var(--linkColor);
}
