.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.icon {
  font-size: 28px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;

  > input {
    display: none;

    &:checked + .slider:before {
      transform: translateX(26px);
    }

    &:checked + .slider {
      background-color: cornflowerblue;
    }
  }
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
  border-radius: 34px;

  &:before {
    background-color: #fff;
    bottom: 4px;
    content: '';
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
  }
}
